In [1]:
# initial imports
import pandas as pd
from path import Path
import numpy as np

In [2]:
# Load data
file_path = Path("vine_table.csv")
vine_df = pd.read_csv(file_path)
vine_df.head()

  review_id;star_rating;helpful_votes;total_votes;vine;verified_purchase
0                           R215C9BDXTDQOW;4;0;0;N;Y
1                           R1DTPUV1J57YHA;5;0;0;N;Y
2                            RFAZK5EWKJWOU;5;0;0;N;Y
3                           R2XT8X0O0WS1AL;5;0;0;N;Y
4                           R14GRNANKO2Y2J;5;0;0;N;Y

In [3]:
# new data frame with split value columns
vine_table_df = vine_df["review_id;star_rating;helpful_votes;total_votes;vine;verified_purchase"].str.split(";", n = 6, expand = True)
vine_table_df.head()

                0  1  2  3  4  5
0  R215C9BDXTDQOW  4  0  0  N  Y
1  R1DTPUV1J57YHA  5  0  0  N  Y
2   RFAZK5EWKJWOU  5  0  0  N  Y
3  R2XT8X0O0WS1AL  5  0  0  N  Y
4  R14GRNANKO2Y2J  5  0  0  N  Y

In [4]:
vine_table_df.columns = ['review_id', 'star_rating', 'helpful_votes', 'total_votes', 'vine', 'verified_purchase']
vine_table_df.head()

        review_id star_rating helpful_votes total_votes vine verified_purchase
0  R215C9BDXTDQOW           4             0           0    N                 Y
1  R1DTPUV1J57YHA           5             0           0    N                 Y
2   RFAZK5EWKJWOU           5             0           0    N                 Y
3  R2XT8X0O0WS1AL           5             0           0    N                 Y
4  R14GRNANKO2Y2J           5             0           0    N                 Y

In [5]:
vine_table_df.dtypes

review_id            object
star_rating          object
helpful_votes        object
total_votes          object
vine                 object
verified_purchase    object
dtype: object

In [6]:
vine_table_df[["star_rating", "helpful_votes", "total_votes"]] = vine_table_df[["star_rating", "helpful_votes", "total_votes"]].apply(pd.to_numeric)
vine_table_df.dtypes

review_id             object
star_rating          float64
helpful_votes        float64
total_votes          float64
vine                  object
verified_purchase     object
dtype: object

In [7]:
TV_over20_df = vine_table_df.loc[vine_table_df['total_votes'] >= 20] 
TV_over20_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
270,R2VIQ3UX794Q0O,4.0,21.0,21.0,N,Y
427,R1OA24IIHWF54G,5.0,43.0,45.0,N,Y
503,RJ7N3OOJR9RL0,4.0,63.0,71.0,N,Y
520,R1W8778CBXSRU6,5.0,28.0,29.0,N,Y
621,R2EFAM03SWLIJX,1.0,32.0,35.0,N,Y

In [8]:
TV_over20_df['HV/TV'] = TV_over20_df['helpful_votes'] / TV_over20_df['total_votes']
TV_over20_df.head()

C:\Users\Paige\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,HV/TV
270,R2VIQ3UX794Q0O,4.0,21.0,21.0,N,Y,1.000000
427,R1OA24IIHWF54G,5.0,43.0,45.0,N,Y,0.955556
503,RJ7N3OOJR9RL0,4.0,63.0,71.0,N,Y,0.887324
520,R1W8778CBXSRU6,5.0,28.0,29.0,N,Y,0.965517
621,R2EFAM03SWLIJX,1.0,32.0,35.0,N,Y,0.914286

In [9]:
helpful_over_half_df = TV_over20_df.loc[TV_over20_df['HV/TV'] >= .549999] 
helpful_over_half_df.tail(30)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,HV/TV
2634722,R4VR36RN3AHC2,4.0,60.0,60.0,N,N,1.000000
2634723,R3AD9NL76RWCDC,1.0,48.0,54.0,N,N,0.888889
2634727,R2F9F90AJ32NWG,3.0,19.0,21.0,N,N,0.904762
2634729,R2WRZORBE72NFV,5.0,54.0,54.0,N,N,1.000000
2634734,R32BSVTSRT6Z8,1.0,58.0,66.0,N,N,0.878788
2634736,R1N431PD3EB916,5.0,36.0,36.0,N,N,1.000000
2634737,R1Z3O88A9TFAYM,4.0,33.0,33.0,N,N,1.000000
2634738,R2J6FT5GT93AZR,1.0,20.0,21.0,N,N,0.952381
2634739,R3GCQGRI0E21G6,4.0,33.0,34.0,N,N,0.970588
2634744,RKIK3ZTQ4XIWP,5.0,46.0,46.0,N,N,1.000000
2634746,R1HSAVCNBIOEMJ,5.0,42.0,44.0,N,N,0.954545
2634751,R2M29LA88N8095,2.0,33.0,35.0,N,N,0.942857
2634752,R12YEA2D69ZGPC,4.0,44.0,46.0,N,N,0.956522
2634753,RG2VPNJI6FEC0,3.0,69.0,78.0,N,N,0.884615
2634754,R2HC5XMEMWMLRL,4.0,56.0,59.0,N,N,0.949153
2634755,R1J9H869GSRAH0,5.0,76.0,81.0,N,N,0.938272
2634756,R2FGNEGK9NM228,4.0,72.0,76.0,N,N,0.947368
2634757,R1A8QJ0YLW69XY,5.0,52.0,54.0,N,N,0.962963
2634759,R1TJGV9AMRP2ZR,5.0,27.0,30.0,N,N,0.900000
2634760,R1R1WIH44PQCY9,5.0,36.0,37.0,N,N,0.972973
2634764,R2Y2HRWOCGRQEZ,4.0,151.0,151.0,N,N,1.000000
2634765,R140XWIMFIHVHV,5.0,59.0,61.0,N,N,0.967213
2634767,R1Q67MW8FDVKU5,5.0,39.0,41.0,N,N,0.951220
2634769,R18YMZ99LRBLHR,2.0,84.0,110.0,N,N,0.763636
2634770,R2LL4SIQ0FXQYR,5.0,97.0,101.0,N,N,0.960396
2634772,R2OO5EMLJ6YAJX,4.0,54.0,55.0,N,N,0.981818
2634773,R9W60J64DJW18,5.0,36.0,44.0,N,N,0.818182
2634774,R1UP56S8JSFN8X,5.0,23.0,25.0,N,N,0.920000
2634777,RDLHL0TYSIB0Q,5.0,35.0,36.0,N,N,0.972222
2634779,R33H78XIEN6NIM,5.0,25.0,28.0,N,Y,0.892857

In [10]:
vine_df = helpful_over_half_df.loc[helpful_over_half_df['vine'] == 'Y'] 
vine_df.head(30)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,HV/TV
4983,R29V4UDSS053D8,3.0,33.0,38.0,Y,N,0.868421
47803,R1I2D068WC37PA,3.0,32.0,37.0,Y,N,0.864865
204900,R13W2U74F67QED,5.0,62.0,76.0,Y,N,0.815789
208432,R2QI37XFOBKUGD,4.0,24.0,33.0,Y,N,0.727273
226580,R19F60BB2DNCKN,5.0,170.0,174.0,Y,N,0.977011
272629,R2PYNEWYYQDWHI,5.0,24.0,27.0,Y,N,0.888889
299467,R1UEWHCPJL2XJB,5.0,70.0,72.0,Y,N,0.972222
306331,RXTMMEBRYZB53,5.0,21.0,24.0,Y,N,0.875000
333723,R1PXVYIYMYGUZL,5.0,21.0,26.0,Y,N,0.807692
338504,RSFMJJXFZHX1C,5.0,24.0,25.0,Y,N,0.960000
340098,R3AGOANU5B89WE,4.0,20.0,21.0,Y,N,0.952381
368838,R1Z849RVP83BSJ,5.0,21.0,23.0,Y,N,0.913043
374199,R2HQVKK2QW0EAT,5.0,20.0,24.0,Y,N,0.833333
398046,RHSOAAAT5UVP,5.0,55.0,56.0,Y,N,0.982143
443436,RZXDK1RE3YQ97,4.0,18.0,21.0,Y,N,0.857143
463404,R2IQH4H2S5EROF,5.0,23.0,24.0,Y,N,0.958333
524878,R2BQ1FHU7OQPQ,5.0,212.0,220.0,Y,N,0.963636
531326,RH1A5XB16O3BM,4.0,28.0,32.0,Y,N,0.875000
544215,R4MAE8LHKDZMG,5.0,36.0,39.0,Y,Y,0.923077
575014,R2QLNOOJ4J16D2,3.0,111.0,118.0,Y,N,0.940678
608023,R22360T0SH0PXJ,4.0,16.0,20.0,Y,N,0.800000
617325,R28Y39HBDQX4LB,4.0,30.0,34.0,Y,N,0.882353
637985,RE5ZZCTJKYERL,4.0,31.0,35.0,Y,N,0.885714
643193,RNEY81WQ79GEG,5.0,40.0,42.0,Y,N,0.952381
646328,R2ZMAYMCPJQNI2,5.0,33.0,39.0,Y,N,0.846154
648289,RWX30E8NG2N79,5.0,19.0,20.0,Y,N,0.950000
683919,R2CHOETWI53R8O,3.0,20.0,22.0,Y,N,0.909091
705745,RUF4AHXOV7KLV,4.0,74.0,81.0,Y,N,0.913580
708004,R20O6EBD4F4L3Q,5.0,25.0,27.0,Y,N,0.925926
760844,R2B76PQCFJ88VD,3.0,23.0,23.0,Y,N,1.000000

In [11]:
not_vine_df = helpful_over_half_df.loc[helpful_over_half_df['vine'] == 'N'] 
not_vine_df.head(30)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,HV/TV
270,R2VIQ3UX794Q0O,4.0,21.0,21.0,N,Y,1.000000
427,R1OA24IIHWF54G,5.0,43.0,45.0,N,Y,0.955556
503,RJ7N3OOJR9RL0,4.0,63.0,71.0,N,Y,0.887324
520,R1W8778CBXSRU6,5.0,28.0,29.0,N,Y,0.965517
621,R2EFAM03SWLIJX,1.0,32.0,35.0,N,Y,0.914286
696,R3F8P56ZDJ6PI8,4.0,106.0,115.0,N,Y,0.921739
717,R2QYLQEK9UAJQ6,5.0,33.0,34.0,N,Y,0.970588
937,RQCC7XNYI014B,1.0,91.0,92.0,N,Y,0.989130
1035,R2U8FRHRVW5D2C,5.0,23.0,23.0,N,N,1.000000
1047,R3RJZC5J4VP7AT,4.0,86.0,91.0,N,N,0.945055
1815,R2KBV3A9X53ULG,5.0,39.0,45.0,N,Y,0.866667
2260,R18XX6GVZ41CY1,5.0,21.0,22.0,N,N,0.954545
2393,R3V8NHJWQWOU7S,5.0,27.0,27.0,N,Y,1.000000
2542,R25FJV7A58YHEM,1.0,19.0,22.0,N,Y,0.863636
2882,R285Z02CQJJ36C,3.0,45.0,48.0,N,Y,0.937500
2997,R5UJCOLQBEADG,1.0,31.0,35.0,N,Y,0.885714
3108,R1KEUH7SZ9BIRK,1.0,20.0,20.0,N,Y,1.000000
3228,R16U59S8ZJGPLY,5.0,64.0,64.0,N,Y,1.000000
3360,R233D4SD2MHUZG,5.0,20.0,20.0,N,Y,1.000000
3409,RVDGV2G8PEUH2,1.0,13.0,21.0,N,N,0.619048
3461,R3V9VFI77AVKRN,5.0,30.0,32.0,N,Y,0.937500
3794,REXYRV9DMU1MF,5.0,18.0,20.0,N,Y,0.900000
4181,RUX53ITU3O0H6,5.0,91.0,93.0,N,Y,0.978495
4206,R2B8CIV5SUL9DJ,5.0,36.0,37.0,N,Y,0.972973
4305,R1RFPI7603HWOP,1.0,116.0,118.0,N,Y,0.983051
4487,R2738J6IFUH9P0,5.0,27.0,30.0,N,Y,0.900000
4722,RGOZGBOCG0H1B,5.0,50.0,54.0,N,N,0.925926
4810,RFEN4K2FHOAKB,4.0,18.0,20.0,N,Y,0.900000
4849,R22P8VKDOVHSNU,3.0,23.0,23.0,N,Y,1.000000
4964,RQZU47N1C7R9U,5.0,21.0,22.0,N,Y,0.954545

In [14]:
# Determine the total number of reviews, the number of 5-star reviews, 
# and the percentage of 5-star reviews for the two types of review (paid vs unpaid).

print(vine_df[['total_votes']].count())

rating_counts = vine_df["star_rating"].value_counts()
print(rating_counts)

five_star = 125
total = 266

print(f"The percentage of paid five star reviews is","{0:.2%}".format(five_star/total))

total_votes    266
dtype: int64
5.0    125
4.0     78
3.0     41
2.0     15
1.0      7
Name: star_rating, dtype: int64
The percentage of paid five star reviews is 46.99%

In [15]:
# Determine the total number of reviews, the number of 5-star reviews, 
# and the percentage of 5-star reviews for the two types of review (paid vs unpaid).

print(not_vine_df[['total_votes']].count())

not_vine_rating_counts = not_vine_df["star_rating"].value_counts()
print(not_vine_rating_counts)

not_vine_five_star = 18222
not_vine_total = 38616

print(f"The percentage of unpaid five star reviews is","{0:.2%}".format(not_vine_five_star/not_vine_total))

total_votes    38616
dtype: int64
5.0    18222
1.0     8121
4.0     6184
3.0     3565
2.0     2524
Name: star_rating, dtype: int64
The percentage of unpaid five star reviews is 47.19%