In [12]:
# initial imports
import pandas as pd
from path import Path
import numpy as np

In [2]:
# Load data
file_path = Path("vine_table.csv")
vine_df = pd.read_csv(file_path)
vine_df.head()

  review_id;star_rating;helpful_votes;total_votes;vine;verified_purchase
0                           R215C9BDXTDQOW;4;0;0;N;Y
1                           R1DTPUV1J57YHA;5;0;0;N;Y
2                            RFAZK5EWKJWOU;5;0;0;N;Y
3                           R2XT8X0O0WS1AL;5;0;0;N;Y
4                           R14GRNANKO2Y2J;5;0;0;N;Y

In [3]:
# new data frame with split value columns
vine_table_df = vine_df["review_id;star_rating;helpful_votes;total_votes;vine;verified_purchase"].str.split(";", n = 6, expand = True)
vine_table_df.head()

                0  1  2  3  4  5
0  R215C9BDXTDQOW  4  0  0  N  Y
1  R1DTPUV1J57YHA  5  0  0  N  Y
2   RFAZK5EWKJWOU  5  0  0  N  Y
3  R2XT8X0O0WS1AL  5  0  0  N  Y
4  R14GRNANKO2Y2J  5  0  0  N  Y

In [4]:
vine_table_df.columns = ['review_id', 'star_rating', 'helpful_votes', 'total_votes', 'vine', 'verified_purchase']
vine_table_df.head()

        review_id star_rating helpful_votes total_votes vine verified_purchase
0  R215C9BDXTDQOW           4             0           0    N                 Y
1  R1DTPUV1J57YHA           5             0           0    N                 Y
2   RFAZK5EWKJWOU           5             0           0    N                 Y
3  R2XT8X0O0WS1AL           5             0           0    N                 Y
4  R14GRNANKO2Y2J           5             0           0    N                 Y

In [8]:
vine_table_df.dtypes

review_id            object
star_rating          object
helpful_votes        object
total_votes          object
vine                 object
verified_purchase    object
dtype: object

In [18]:
vine_table_df['star_rating'] = vine_table_df['star_rating'].astype(int)
#vine_table_df['helpful_votes'].astype(int)
#vine_table_df['total_votes'].astype(int)
vine_table_df.dtypes

ValueError: invalid literal for int() with base 10: ''

In [5]:
TV_over20_df = vine_table_df.loc[vine_table_df['total_votes'] > 20] 
TV_over20_df.head()

TypeError: '>' not supported between instances of 'str' and 'int'